@import "./utils.scss";

* {
  border: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: $textFont;
  font-size: $normalSize;
}

body {
  background-color: $backgroundColor;
}
